@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.wrapper {
  max-width: 1200px;
  width: 100%;
}

h1 {
  margin-bottom: 3rem;
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.05em;
  color: rgb(255, 196, 123);
}

.sub-title {
  margin-bottom: 15px;
  text-decoration: underline;
}

p {
  font-family: 'Special Elite', cursive;
  line-height: 1.3;
  font-size: 19px;
}
