
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  background-color: rgba(122, 122, 122, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.output > .pre-operand {
  color: #fff;
  font-size: 1.5rem;
}

.output > .cur-operand {
  color: #fff;
  font-size: 2.5rem;
}

button {
  border: 1px solid gray;
  font-size: 1.1rem;
  font-weight: 500;
}

.orange {
  background-color: orange;
}